<!doctype html>
<html>
<head>
<include file="Public:head" />
</head>
<body>
	<div class="wrap">
		<include file="Public:header" />
		<div class="section">
			<div class="main">
				<pre class="agreement">甜心100软件使用协议

版权所有 甜心100开发中心

感谢您选择甜心100产品, 希望我们的产品能够帮您把网站发展的更快、更好、更强！

甜心免责声明
  1、本产品由甜心100出售，并提供售后服务，如非正规渠道购买，所产生的一切后果，甜心100官方不承担任何责任。
  2、您一旦安装使用本产品，即被视为完全理解并接受本协议的各项条款，在享有上述条款授予的权力的同时，受到相关的约束和限制。</pre>
			</div>
			<div class="bottom text-center">
				<a href="__ROOT__/index.php?g=install&a=step2" class="btn btn-primary">{:L('ACCEPT')}</a>
			</div>
		</div>
	</div>
	<include file="Public:footer" />
</body>
</html>